<html>
    <head>
        <style>
            table{
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td,th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>

    <body>
        <h3 style="text-align: center;">Cafe Management System</h3>
        <table>
            <tr>
                <th>Name: <%=  name %></th>
                <th>Email: <%=  email %></th>
            </tr>
            <tr>
                <th>Contact Number: <%= contactNumber %></th>
                <th>Payment Method: <%= paymentMethod %></th>
            </tr>
        </table>

        <h3>Product Details</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub Tolal</th>
            </tr>
                <% if(productDetails.length > 0){ %>
                    <% productDetails.forEach(product =>{ %>
                        <tr>
                            <th><%= product.name %></th>
                            <th><%= product.category %></th>
                            <th><%= product.quantity %></th>
                            <th><%= product.price %></th>
                            <th><%= product.total %></th>
                        </tr>
                        <%});%>
                        <%}%>
        </table>
        <h3>Total: <%= totalAmount %></h3>
        <h3>Thank you for visting. Please visit againg!!</h3>

    </body>

</html>